/* sass */
$font: 'Cinzel', serif;
$footer-color:#E4717A;
$nav-color:#FFCCCC;
$nav-bg:rgba(252, 208, 104, 0.79);
$light-blue:rgb(181, 216, 250);

@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
	text-decoration: none;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}

@mixin tablet{
	@media all and (max-width:1024px){
		@content;
	}
}
@mixin phone{
	@media all and (max-width:480px){
		@content;
	}
}

@mixin size($width,$height) {
  width:$width;
  height:$height;
}


@mixin border-radius($radius){
	 -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotateY($degrees){
	-webkit-transform: rotateY($degrees);
    -moz-transform: rotateY($degrees);
    transform: rotateY($degrees);
}


%tb{    
	display: table-cell;
    vertical-align: inherit;
    border: 1px solid #C71585;
}


$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/* @function tx_contrast($background)
{
	@if lightness($background)<50%{@return yellow;}
	@else{@return black;}
} */

/* end sass */