/* TABLETS */
@media all and (max-width:1024px) and (min-width:569px) {
	
	/* common */
	body {
    font-size: 90%;
    margin: 0;
    padding: 0;
	width: 100%;
    padding: 0em 1em 1em 1em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 150%;	
}


h1 {
    font-size: 2.4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: 2px;
}
h2 {
    font-size: 1.4em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    letter-spacing: 2px;
}
h3 {
    font-size: 1.17em;
    letter-spacing: 2px;
}
h4 {
    margin-top: 1.23em;
    margin-bottom: 1.33em;
    letter-spacing: 2px;
}
h5 {
    font-size: .73em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    letter-spacing: 2px;
}
h6 {
    font-size: .57em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    letter-spacing: 2px;
}
p {
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 120%;
}

#index_content > aside > ul {
	display: none;
}

#index_content, #product_content, 
#pr_content, #contact_content, #details_content,
 #content, #gift_card_content{
	 margin-left:-4em;
	 margin-top:-3em;
 }
 
  /* hamb */
/*   #navigation_bar{
	display:none;
} */
 img#hamburger{width:50px;
height:50px;
display:block;}
 
/*  a#hamburger {
  	    float: right;
		    display: block;
		    padding: 1em;
		} */
  
  a.menu-link {
  	    float: right;
		    display: block;
		    padding: 1em;
		}
		#menu[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;  
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.js #menu[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		#menu[role=navigation].active {
			max-height: 15em;
		}
		#menu[role=navigation] ul {
			margin: 0;
			padding: 0;
			border-top: 1px solid #808080;
		}
		#menu[role=navigation] li a {
			display: block;
			padding: 0.8em;
			border-bottom: 1px solid #808080;
		}
		
		
  
/* 

		nav[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;  
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		nav[role=navigation].active {
			max-height: 15em;
		}
		nav[role=navigation] ul {
			margin: 0;
			padding: 0;
			border-top: 1px solid #808080;
		}
		nav[role=navigation] li a {
			display: block;
			padding: 0.8em;
			border-bottom: 1px solid #808080;
		}
		 */
		/* @media screen and (min-width: 48.25em) {
			a.menu-link {
			   display: none;
			}
			.js nav[role=navigation] {
				max-height: none;
			}
			nav[role=navigation] ul {
				margin: 0 0 0 -0.25em;
				border: 0;
			}
			
			nav[role=navigation]  li {
				display: inline-block;
				margin: 0 0.25em;
			}
			nav[role=navigation] li a {
				border: 0;
			}
		}
  */
 
 
/* end hamb */



}

/* end common */

/* END TABLETS */




/* PHONES */
@media all and (max-width:568px){
	
	/* common */
	body {
    font-size: 100%;
    margin: 0;
    padding: 0;
	width: auto;
    padding: 0em 1em 1em 1em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 150%;	
}


h1 {
    font-size: 2.4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: 2px;
}
h2 {
    font-size: 1.4em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    letter-spacing: 2px;
}
h3 {
    font-size: 1.17em;
    letter-spacing: 2px;
}
h4 {
    margin-top: 1.23em;
    margin-bottom: 1.33em;
    letter-spacing: 2px;
}
h5 {
    font-size: .73em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    letter-spacing: 2px;
}
h6 {
    font-size: .57em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    letter-spacing: 2px;
}
p {
    font-size: 0.9em;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 120%;
}

#index_content > aside > ul {
	display: none;
}

#index_content, #product_content, 
#pr_content, #contact_content, #details_content,
 #content, #gift_card_content{
	 margin-left:-7em;
 }

}	
/* END PHONES */