/* TABLETS */
@media all and (max-width:1024px) and (min-width:569px) {
	
	/* common */
	body {
    
    margin: 0;
   /*  padding: 0; */
	width: 100%;
    padding: 0em 1em 1em 1em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 150%;	
	font-size:1.2em;
}


h1 {
    font-size: 2.4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: 2px;
}
h2 {
    font-size: 1.7em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    letter-spacing: 2px;
}
h3 {
    font-size: 1.17em;
    letter-spacing: 2px;
}
h4 {
    margin-top: 1.23em;
    margin-bottom: 1.33em;
    letter-spacing: 2px;
}
h5 {
    font-size: .73em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    letter-spacing: 2px;
}
h6 {
    font-size: .57em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    letter-spacing: 2px;
}
p {
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 120%;
}

select{
	font-size:22px;
}

input{
	width:20em;
	height:2.5em;
}

::-webkit-input-placeholder {font-size:22px;}
::-moz-placeholder { font-size:22px;} /* firefox 19+ */
:-ms-input-placeholder { font-size:22px;} /* ie */
input:-moz-placeholder {  font-size:22px;}


input[type="radio"]{
	width:22px;
}
input[type="submit"]{
	font-size:16px;
}
input[type="reset"]{
	font-size:16px;
}



textarea{
	width:19em;
	height:10em;
	font-size:16px;
}


hr{
	display:none;
}


#index_content > aside > ul {
	display: none;
}

#index_content, #product_content, 
#pr_content, #contact_content, #details_content,
 #content, #gift_card_content{
	 padding:0;
 }
 
 
 #product_content #main, #index_content #main, #pr_content #main_pr, 
 #contact_content #main, 
 #details_content #main, #content #main,
 #gift_card_content #main
 {width:100%;
 padding: 1em 1em 5em 1em;
  text-align: -webkit-center;
 }
 
aside{display:none;}
 
  /* hamb */
/*   #navigation_bar{
	display:none;
} */
 img#hamburger{width:50px;
height:50px;
display:block;}
 
/*  a#hamburger {
  	    float: right;
		    display: block;
		    padding: 1em;
		} */
  
  nav{height:initial;}
  
  
  a.menu-link {
  	    
		    display: block;
		    
		}
		#menu[role=navigation] {
			clear: both;
			/* -webkit-transition: all 3s ease-out;  
			-moz-transition: all 3s ease-out;
			-ms-transition: all 3s ease-out;
			-o-transition: all 3s ease-out;
			transition: all 3s ease-out;  */	
		}
		.js #menu[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		#menu[role=navigation].active {
			max-height:100%;
			/* display:table-caption;  */
		}
		#menu[role=navigation] ul {
			margin: 0;
			padding: 0;
			border-top: 1px solid #808080;
			background:white;
			text-align:center;
			font-size:1.3em;
		}
		#menu[role=navigation] li a {
			display: block;
			border: 2px solid #808080;
			padding:3em;
			background:rgb(249, 239, 233);
			text-decoration:none;
		}
		
		ul#nav_store>li:first-child{
			background:white;
			
		}
		ul#nav_store li{background:white;}
  
		ul#nav_log{
			float:none;
		}
		#nav_log li{
			padding:0em;
			position:relative;
		}

		
		ul#nav_store li{
			float:none;	
		}
  		

		#nav_log li:nth-child(2){
		padding-left:0;
	
	
}
  
  
ul#nav_store{
	float:none;
}

#nav_store > li:nth-child(1) > ul > li{
	display: none;
}
  
/* 


 
/* end hamb */




/* index */

#main_index_info{
	column-count:1;
}

#main_index_photo img{
	width:887px;
	height:806px;
}

/* end index */


/* login registration */

section.registration_form, section.login-form{
	display:block;
	font-size:1.5em;
	line-height:50px;
	border:none;
	width:90%;	
	margin:auto;
}

section.login-form{
	padding-top:100px;
	
}



/* section.login-form{
	margin-top:12em;
} */

body > section > div.login > form > fieldset > label{
	display:none;}

/* end login registration */



/* about us */
.about_us_info{
	column-count:1;
}

#details_photo img{
	width:821px;
	height:585px;
}

/* end about us */



/* contacts */

#contacts{
	flex-flow:column wrap;
}
.contact_us input[type="submit"]{
	font-size:14px;
}

/* end contacts */

/* categories */

#categories{
	display:flex;
}

/* end categories */

/* products */

#index_content #main{
	padding-bottom:2em;
}

#product_content #main{
	text-align:-webkit-center;
	padding-bottom:2em;
}
.product_picture{
	height:auto;
	width:auto;
}
.product_picture figure img{
	margin:0;
	height:465px;
	width:386px;
}

/* #product_content #main details{
	display:none;
} */

.product_picture figure figcaption{
	display:none;
}
.product_picture figure a:hover{
	
	}
	
#product_categories img{
	width:369px;
	height:486px;
}	

/* end products */

/* product */


#pr_content #main_pr{
	display:flex;
	flex-direction:column;
	text-align:-webkit-center;
	padding:3em 0em;
}

#product_order input{
	width:7em;
	height:1.5em;
	font-size:15px;
}
#product_order input[type="radio"]{
	width:2em;
}

img.product_big{
	width:285px;
	height:392px;
}

/* end product */




/* new in on sale */


div.relative{
	
	width:319px;
	height:418px;	
}

img.product_small{
	width:319px;
	height:418px;
}



/* end new in on sale */



}
/* END TABLETS */




/* PHONES */
@media all and (max-width:568px){
	
	/* common */
	body {
    font-size: 100%;
    margin: 0;
    padding: 0;
	width: auto;
    padding: 0em 1em 1em 1em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 150%;	
}


h1 {
    font-size: 2.4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: 2px;
}
h2 {
    font-size: 1.7em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    letter-spacing: 2px;
}
h3 {
    font-size: 1.17em;
    letter-spacing: 2px;
}
h4 {
    margin-top: 1.23em;
    margin-bottom: 1.33em;
    letter-spacing: 2px;
}
h5 {
    font-size: .73em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    letter-spacing: 2px;
}
h6 {
    font-size: .57em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    letter-spacing: 2px;
}
p {
    font-size: 0.65em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.5em;
    line-height: 120%;
}

#index_content > aside > ul {
	display: none;
}

#index_content, #product_content, 
#pr_content, #contact_content, #details_content,
 #content, #gift_card_content{
/* 	 margin-left:-7em; */
 }

}	
/* END PHONES */