
/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */
/*  */
/*  */





body {
	
	 font-size: 100%;
	margin:0;
		padding:0;
		height:100%;
	 padding: 2em 2em 3em 2em;		
}

/* new */

aside { 
    display: block;
}

h1{
display: block;
    font-size: 2.5em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;}
h2 {
     display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h3 { 
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 { 
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h5 { 
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h6 { 
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}


 p {
	font-family: "Verdana", Verdana, serif;
    display: block;
	font-size:1em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
	font-style:italic;
}

address { 
    display: block;
    font-style: italic;
}

strong { 
    font-weight: bold;
}

small { 
    font-size: smaller;
	font-style:italic;
}


/* table */

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
	border: 1px solid #C71585;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: center;
	 border: 1px solid #C71585;
}

td {
    display: table-cell;
    vertical-align: inherit;
border: 1px solid #C71585;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
	border: 1px solid #C71585;	
}


/* end table */


ul { 
    display: block;
    list-style-type: disc;  
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
	/* list-style-image: url('bullet.gif'); */
}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    /* border: 2px groove (internal value); */
	border: 2px solid #73AD21;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}



/* end new */

header{display:inline;
	position:relative;
	 width: 100%;
	top:0}
	
header img {
  float: left;
  width: 50px;
  height: 50px;
  background: #555;
}

header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}	
	
nav { width: 100%;
    display: block;
   /* position:relative; */  
   float:left;
   /* border: 2px solid red; */
}

/* aside */
/*  .list-heading {
    font-weight: normal;
}  */


.list-heading {
    border: 2px solid #73AD21;
}


ul.side_bar li {border: 1px solid #C71585; }



#product_content{
	/* overflow:auto; */}

aside{width:180px; float:left;

float:left;
width:30%;
height:100%;
/* 
border: 3px solid #73AD21;  */
}

aside{
	padding:0 20px 20px 30px;
	/* border:3px solid #C71585; */
	float: left; width: 10em;
}




/* end aside */

footer {display: block;
   position:fixed;
	width: 100%;
    bottom:0;	
}


ul#navigation_bar li {
    display:inline;
	
}

ul#nav_store{ display:inline;
float: left;

 }

ul#nav_log{ display:inline;
float: right;
list-style-image:none;}







#contact_form{
	float:left;
	width:50%;}
#post_address{
	 text-align: right;
	float:right;	
	width:50%;
}

section.login-form, section.registration_form{
	text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
}

section.registration_form{text-align:left;}


#product_photos{
	text-align: center;
	float:left;
	width:100%;
}
#product_info{float:left;
width:34%;
}
#table_sizes{float:left;
width:33%;}
#product_order{float:left;
width:33%;}


#categories{
	text-align: center;
}


ul#product_categories{ 
	margin: auto;
    width: 50%;
	display:inline;
    padding: 10px;
list-style-image:none;	}
ul#product_categories li {
	display:inline;
		
	
}





/* #index_content #main_index{ 

width: 100;
    height: 100;  
	border:3px solid #C71585; 
	
    } */


 #product_content #main ,#index_content #main, #pr_content #main_pr ,
 #contact_content #main, #details_content #main,
  #content #main	

{	

float:left;
width:60%;

	/* position:absolute;  */
	/* height:100%; */
	/* width:100%; */
	
	
	/* width:760px; */float:left;padding:0 20px 20 px 20px;
align-content:center;
border:1px solid #C71585; 


 padding: 1cm 1cm 1cm 1cm;
}


 #pr_content #main_pr {border:1px solid #C71585; }

/* #index_info{
	weight:200px
height:200px;} */
#contact_content #main{
	 position:relative; display:inline;}

#contact_form{display:inline;
	float: left;}
#post_address{display:inline;
	float: right;}

	#main_index_photo,#main_index_info,.about_us{text-align: center;}


div#details_photo{text-align: center;}
	
/* fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border:1px groove solid #C71585;
}
 */
 
 /*  */
 
/*  #choose{text-align: center;
 display:inline;
 }
 ul#gift_card{margin: auto;
    width: 50%;
	display:inline;
    padding: 10px;}
ul#gift_card li{display:inline;}
 */
 
 
 #gift_card  {
	 overflow: auto;
 }
 
 #gift_card  li{
	 float: left;
 }

input[type=range]:before { content: attr(min); padding-right: 5px; }
input[type=range]:after { content: attr(max); padding-left: 5px;}
output { 
    display: block;
    font-size: 5.5em;
    font-weight: bold;
}


div#product_info ul{ 
    display: block;
    list-style-type: disc;  
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
	list-style-image: url('bullet.gif');
}

/* table details */
details table, details table th ,details table td ,details table tr 
{
	 
	border: none;
}
/* end table details */


 section.registration_form  ,section.login-form {
	 padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
	border:none;
	
} 


.new_product>a>img{ 

position:relative;
border:1px solid red;}

/* div#new_in{position:absolute} */

div.relative {
    position: relative;
    width: 150px;
    height: 215px;
    border: 1px solid #73AD21;
} 

div.absolute {
    position: absolute;
    top: 0px;
    right: 0;
    width: 50px;
    height: 50px;
    border: 1px solid #73AD21;
}
