/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, tr,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* end reset */
/*  */
/* sass */
th, td, tr {
  display: table-cell;
  vertical-align: inherit;
  border: 1px solid #C71585; }

/* @function tx_contrast($background)
{
	@if lightness($background)<50%{@return yellow;}
	@else{@return black;}
} */
/* end sass */
/* COMMON*/
body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  padding: 0em 1em 1em 1em;
  font-family: "Cinzel", serif;
  font-weight: bold;
  line-height: 150%;
  position: absolute;
  width: 95%; }

h1 {
  display: block;
  font-size: 2.5em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  letter-spacing: 2px; }

h2 {
  text-align: center;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  letter-spacing: 2px; }

h3 {
  display: block;
  font-size: 1.27em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  letter-spacing: 2px; }

h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  letter-spacing: 2px; }

h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  letter-spacing: 2px; }

h6 {
  display: block;
  font-size: .67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  letter-spacing: 2px; }

p {
  font-family: 'Italiana', serif;
  display: block;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  letter-spacing: 1px;
  line-height: 120%; }

article p::first-letter {
  font-size: 2em;
  color: #990066; }

blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  font-style: italic;
  letter-spacing: 1px; }

address {
  display: block;
  font-style: italic;
  letter-spacing: 1px; }

strong {
  font-weight: bold; }

small {
  font-size: smaller;
  font-style: italic; }

details {
  padding-top: 1em; }

hgroup {
  text-align: center; }

summary {
  outline: none; }

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0; }

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-top: 1px solid black; }

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px; }

a:link {
  color: #CC0099; }

a:visited {
  color: #990066; }

a:active {
  color: green; }

input {
  margin: 0.5em 0em; }

input:focus {
  background-color: #c4ffc4; }

input[type=range]:before {
  content: attr(min);
  padding-right: 5px; }

input[type=range]:after {
  content: attr(max);
  padding-left: 5px; }

output {
  display: block;
  font-size: 5.5em;
  font-weight: bold; }

textarea {
  resize: none; }

table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  border: 1px solid #C71585; }

th {
  font-weight: bold;
  text-align: center; }

tr {
  display: table-row; }

#index_content, #product_content, #pr_content,
#contact_content, #details_content,
#content, #gift_card_content {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  padding-top: 90px; }

#product_content #main, #index_content #main,
#pr_content #main_pr, #contact_content #main,
#details_content #main, #content #main, #gift_card_content #main {
  width: 80%;
  float: left;
  padding: 0 20px 20 px 20px;
  align-content: center;
  padding: 1em 1em 5em 1em; }

#main_index_photo,
#main_index_info,
.about_us {
  text-align: center; }

/* END COMMON */
/* IMAGES */
#main_index_photo img {
  width: 31.5em;
  height: 31.25em; }

img.product_small {
  width: 13.5em;
  height: 21.1875em; }

img.absolute_label {
  width: 3.125em;
  height: 3.125em; }

img.product_big {
  width: 12.5em;
  height: 18em; }

img.gift_card {
  width: 12.5em;
  height: 8.75em;
  display: inline; }

img.contact_us_img {
  width: 256px;
  height: 269px; }

img.social_img {
  width: 300px;
  height: 65px; }

/* END IMAGES */
/* HEADER*/
header {
  position: relative;
  right: 0px;
  width: 100%;
  text-align: center;
  -webkit-animation: swap 2s;
  animation: swap 2s; }
  header h1 {
    top: 18px;
    left: 10px;
    display: inline;
    font-size: 3em; }
  @media all and (max-width: 1024px) {
    header h1 {
      line-height: 1em; } }
  header a {
    color: black;
    text-decoration: none; }
    header a:visited {
      color: black; }
    header a:hover {
      color: black; }
    header a:active {
      color: black; }
  header a > img {
    width: 50px;
    height: 50px;
    background: #555;
    display: inline;
    border: none; }
  header img#logo {
    width: 50px;
    height: 50px; }

#main_index_info > p:nth-child(1) {
  color: #0a0a0a; }

#main_index_info > p:nth-child(2) {
  color: #212121; }

#main_index_info > p:nth-child(3) {
  color: #383838; }

#main_index_info > p:nth-child(4) {
  color: #4e4e4e; }

#main_index_info > p:nth-child(5) {
  color: #656565; }

#main_index_info > p:nth-child(6) {
  color: #7c7c7c; }

#main_index_info > p:nth-child(7) {
  color: #939393; }

#main_index_info > p:nth-child(8) {
  color: darkgray; }

#main_index_info > p:nth-child(9) {
  color: silver; }

/* END HEADER */
/* FOOTER */
footer {
  display: block;
  position: fixed;
  width: 95%;
  bottom: 0;
  background: #E4717A;
  margin: 0em 0.5em 0em 1em;
  Z-index: 30; }

ul.social_links li {
  list-style: none; }
  ul.social_links li a {
    display: block;
    float: left;
    width: 30px;
    height: 25px; }

.facebook {
  background: url("../images/social/facebook.png") no-repeat center; }

.twitter {
  background: url("../images/social/twitter.png") no-repeat center; }

.google {
  background: url("../images/social/google.png") no-repeat center; }

/* END FOOTER */
/* NAV */
nav {
  width: 100%;
  height: 3.2em;
  top: 0;
  display: block;
  float: left;
  background: rgba(252, 208, 104, 0.79); }

img#search {
  display: none; }

img#nav_login_img {
  display: none; }

img#hamburger {
  width: 20px;
  height: 20px;
  display: none; }

ul#navigation_bar li {
  display: inline; }

ul#nav_store {
  display: inline;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFCCCC; }

ul#nav_store li {
  display: block;
  position: relative;
  float: left;
  background: #FFCCCC; }

ul#nav_store li ul {
  display: none;
  margin-top: 0em; }

ul#nav_store li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  white-space: nowrap;
  color: green; }

ul#nav_store ul li a:hover {
  background: black; }

ul#nav_store li:hover > ul {
  display: block;
  position: absolute; }

ul#nav_store li:hover li {
  float: none; }

ul#nav_store li:hover a {
  background: #CCFFFF; }

#nav_store li ul li {
  border-top: 0;
  padding: 1em;
  text-align: center;
  z-index: 20; }

ul#nav_log {
  display: inline;
  list-style-image: none;
  float: right;
  margin-top: 0; }

#nav_log:before, #nav_log:after {
  content: " ";
  display: table; }

#nav_log:after {
  clear: both; }

#nav_log li {
  font-size: 1.1em; }

/* #nav_log li:nth-child(1){border:1px*$i solid red;} */
/* #nav_log li:nth-child(2){border:1px*$i solid red;} */
#nav_log li:nth-child(2) {
  margin-right: 0em;
  padding-left: 0.5em; }

ul#nav_store li a {
  border: 4px solid white;
  -o-transition: all 500ms;
  -moz-transition: all 1500ms;
  -webkit-transition: all 1500ms;
  transition: all 1500ms; }

ul#nav_store > li:first-child {
  background: #FF9999; }

ul#nav_store li:nth-child(1) {
  background: #fdacb2; }

ul#nav_store li:nth-child(2) {
  background: #ffb8be; }

ul#nav_store li:nth-child(3) {
  background: #ffc4ca; }

ul#nav_store li:nth-child(4) {
  background: #ffd0d6; }

ul#nav_store li:nth-child(5) {
  background: #ffdce2; }

ul#nav_store li:nth-child(6) {
  background: #ffe8ee; }

ul#nav_store li:nth-child(7) {
  background: #fff4fa; }

ul#nav_store li:nth-child(8) {
  background: white; }

ul#nav_store li:nth-child(9) {
  background: white; }

/* search */
#navigation {
  list-style-type: none; }

#navigation_bar > li:nth-child(2) {
  display: table;
  float: right; }

#search {
  float: right; }

#search_input {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #808080;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px; }

#search_button {
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: solid 1px #0076a3;
  border-right: 0px;
  background: #0095cd;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 204, 204, 0.49)), to(#ff9999));
  background: -moz-linear-gradient(top, #00adee, #0078a5);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px; }
  #search_button:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top, #0095cc, #00678e); }

#search {
  float: right;
  margin-right: 0.5em; }

/* end search */
/* END NAV */
/* ASIDE*/
aside {
  display: block;
  float: left;
  height: 15em;
  width: 10em;
  padding: 10px 0px 0px 0px; }

ul.side_bar li {
  border-left: 10px solid rgba(252, 208, 104, 0.79);
  text-align: center;
  padding: 1em;
  background: #FAE7B5;
  width: 130px;
  display: inline-block;
  position: relative;
  text-decoration: none;
  font: bold 12px/25px Arial, sans-serif;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.22);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease; }

#product_content ul.side_bar li {
  padding: 1em;
  background: #FAE7B5;
  border: none;
  width: 100px;
  display: inline-block;
  position: relative;
  margin: -0.2em;
  text-align: center;
  text-decoration: none; }

.side_bar a {
  text-decoration: none;
  padding: 16px;
  color: green; }

/* animation aside*/
.side_bar {
  padding: 0;
  width: 170px;
  list-style-type: none;
  text-align: center; }
  .side_bar li {
    overflow: hidden;
    display: block;
    background: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;
    border-left: 10px solid #000;
    transition: all 300ms ease-in-out; }
  .side_bar li:hover {
    border-color: #fff004;
    background: #c4ffc4;
    border: 1px solid #c4ffc4; }

.side_bar li:last-child {
  margin-bottom: 0px; }

.side_bar li a {
  text-align: center;
  width: 100%;
  height: 100%;
  color: #006400;
  transition: all 300ms linear; }

.side_bar li:hover a {
  color: #006400;
  font-size: 14px; }

/* end animation aside*/
/* END ASIDE */
/* INDEX */
#anchors {
  text-align: center; }

#main_index_info {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
  -webkit-column-gap: 20px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 20px;
  /* Firefox */
  column-gap: 20px;
  -webkit-column-rule: 2px solid #FFEF00;
  /* Chrome, Safari, Opera */
  -moz-column-rule: 2px solid #FFEF00;
  /* Firefox */
  column-rule: 2px solid #FFEF00;
  font-family: 'Italiana', serif; }
  #main_index_info h4 {
    -webkit-column-span: all;
    /* Chrome, Safari, Opera */
    column-span: all; }

.side_index {
  /* border:1px solid black; */
  padding-top: 10em; }

.side_index a:nth-child(1) > img {
  border: 1.5px solid rgba(255, 0, 97, 0.44); }

.side_index a:nth-child(2) > img {
  border: 3px solid rgba(255, 0, 97, 0.44); }

.side_index a:nth-child(3) > img {
  border: 4.5px solid rgba(255, 0, 97, 0.44); }

/* END INDEX */
/* CATEGORIES */
#categories {
  text-align: center; }

ul#product_categories {
  margin: auto;
  width: 50%;
  display: inline;
  padding: 10px;
  list-style-type: none;
  list-style-image: none; }
  ul#product_categories li {
    display: inline; }
  ul#product_categories img {
    width: 317px;
    height: 435px;
    margin-top: 80px;
    font-size: 21px;
    text-align: center;
    border: none;
    animation: vanishIn 1s; }
    ul#product_categories img:hover {
      border: 0.3em solid transparent;
      border-image: url(../images/product-border.jpg) 35 stretch; }

/* animation categories */
.product_picture {
  position: relative;
  width: 247px;
  height: 339px;
  padding: 1em;
  border: 30px solid rgba(249, 233, 233, 0.86); }
  .product_picture figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer; }
    .product_picture figure img {
      display: block;
      position: relative;
      z-index: 10;
      margin: -15px 0;
      width: 247px;
      height: 339px; }
    .product_picture figure figcaption {
      display: block;
      position: absolute;
      z-index: 5;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }

.product_picture figure figcaption p {
  letter-spacing: normal; }

.product_picture figure h2 {
  color: #fff;
  font-size: 20px;
  text-align: left; }

.product_picture figure p {
  display: block;
  font-family: 'Lato';
  font-size: 12px;
  line-height: 18px;
  margin: 0;
  color: #fff;
  text-align: left; }

.product_picture figure figcaption {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: rgba(191, 46, 117, 0.61);
  text-align: center;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all 0.5s; }

.product_picture figure img {
  backface-visibility: hidden;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all 0.5s; }

.product_picture figure:hover img,
figure.hover img {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.product_picture figure:hover figcaption,
figure.hover figcaption {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  transform: rotateY(0); }

#product_content #main {
  display: flex;
  flex-wrap: wrap;
  text-align: -webkit-center;
  flex-flow: column wrap; }

#product_content #main hr {
  display: none; }

#product_content #main > .product_picture {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: stretch;
  align-content: stretch; }

/* end animation categories */
/* END CATEGORIES */
/* PRODUCT'S PAGE */
#product_photos {
  text-align: center;
  float: left;
  width: 100%; }

#product_info {
  float: left;
  width: 34%; }

/* table_sizes */
#table_sizes {
  float: left;
  width: 33%; }

#table_sizes > table > tbody > tr > th {
  @entend #table_sizes;
  border: none; }

#table_sizes > table > tbody > tr > td:nth-child(even), #table_sizes > table > tbody > tr > tr:nth-child(even) {
  background-color: thistle;
  border: none; }

#table_sizes > table > tbody > tr > td:nth-child(odd), #table_sizes > table > tbody > tr > tr:nth-child(odd) {
  background-color: pink;
  border: none; }

/* end table_sizes */
#product_order {
  float: left;
  width: 33%; }

#product_photos > img:hover {
  transform: scale(1.5); }

div#product_info ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  list-style-image: url("bullet.gif"); }

/* END PRODUCT'S PAGE */
/* DETAILS PAGE */
div#details_photo {
  text-align: center;
  padding-top: 40px; }

div#details_photo img {
  width: 517px;
  height: 325px; }

.about_us_info {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-rule: 2px solid #FFEF00;
  -moz-column-rule: 2px solid #FFEF00;
  column-rule: 2px solid #FFEF00; }

section.about_us_info h2 {
  -webkit-column-span: all;
  column-span: all; }

/*END DETAILS PAGE */
/* CONTACT US */
#contact_form {
  float: left;
  width: 50%; }

#post_address {
  text-align: right;
  float: right;
  width: 50%; }

#contacts {
  display: flex;
  justify-content: flex-end;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 5em 4em; }

#contact_content #main {
  position: relative;
  display: inline; }

#contact_form {
  display: inline;
  float: left; }

#post_address {
  display: inline;
  float: right; }

#contact_img {
  display: none; }

/* END CONTACT US */
/* LOGIN REGISTRATION */
section.login-form,
section.registration_form {
  text-align: center;
  margin: auto;
  width: 60%;
  padding: 10px; }

section.registration_form,
section.login-form {
  margin-top: 100px;
  border: 2px solid #b5d8fa; }

section.registration_form fieldset {
  border: 1px solid black; }

/* END LOGIN REGISTRATION */
/* NEW IN/ ON SALE */
.new_product > a > img {
  position: relative;
  border: 1px solid red; }

.new_in_info {
  text-align: center; }

.new_in_info img {
  width: 550px;
  height: 215px; }

.on_sale_info {
  text-align: center; }

.on_sale_info img {
  width: 550px;
  height: 215px; }

div.relative {
  position: relative;
  width: 214px;
  height: 339px; }

div.absolute {
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px; }

#content #main {
  display: flex;
  align-items: center;
  flex-flow: column wrap; }

/* END NEW IN/ON SALE */
/* GIFT CARD */
#gift_card_content #main {
  text-align: center; }

#gift_card {
  overflow: auto; }

#gift_card li {
  float: left; }

ul#gift_card {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-type: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }

ul #gift_card li {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center; }

/* END GIFT CARD */
/* ANIMATIONS */
/* animation for product_categories img */
@keyframes vanishIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(2, 2);
    -webkit-filter: blur(90px); }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
    -webkit-filter: blur(0px); } }
/*  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} */
/* animation for header */
@-webkit-keyframes swap {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) translate(-700px, 0px); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) translate(0px, 0px); } }
/* animation for header */
@keyframes swap {
  0% {
    opacity: 0;
    transform-origin: 0 100%;
    transform: scale(0, 0) translate(-700px, 0px); }
  50% {
    opacity: 1;
    transform-origin: 100% 100%;
    transform: scale(0.5, 0.5) translate(-300px, 0px);
    100% {
      opacity: 1;
      transform-origin: 100% 100%;
      transform: scale(1, 1) translate(0px, 0px); } } }
/* END ANIMATIONS */
#nav-trigger {
  visibility: hidden; }

/* hacks */
@-moz-document url-prefix() {
  h1 {
    color: #660066; }

  details {
    border: 2px solid #F7E98E; } }
_:-ms-fullscreen,
:root h1 {
  color: #006400; }

_:-ms-fullscreen,
:root details {
  border: 2px solid #F7E98E; }

/* end hacks */
/* TABLETS */
@media all and (max-width: 1024px) {
  /*  */
  /* common */
  body {
    margin: 0;
    /*  padding: 0; */
    width: 100%;
    padding: 0em;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 150%;
    font-size: 1.2em; }

  header {
    padding: 1.5em;
    box-sizing: border-box; }

  footer {
    margin: 0;
    width: 100%; }

  img {
    max-width: 100%; }

  fieldset {
    padding-bottom: 2em; }

  h1 {
    font-size: 2.4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: 2px; }

  h2 {
    font-size: 1.7em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    letter-spacing: 2px; }

  h3 {
    font-size: 1.17em;
    letter-spacing: 2px; }

  h4 {
    margin-top: 1.23em;
    margin-bottom: 1.33em;
    letter-spacing: 2px; }

  .search_show {
    display: block !important; }

  h5 {
    font-size: .73em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    letter-spacing: 2px; }

  h6 {
    font-size: .57em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    letter-spacing: 2px; }

  p {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    line-height: 120%; }

  select {
    font-size: 22px; }

  input {
    width: 20em;
    height: 2.5em; }

  ::-webkit-input-placeholder {
    font-size: 22px; }

  ::-moz-placeholder {
    font-size: 22px; }

  /* firefox 19+ */
  :-ms-input-placeholder {
    font-size: 22px; }

  /* ie */
  input:-moz-placeholder {
    font-size: 22px; }

  input[type="radio"] {
    width: 22px; }

  input[type="submit"] {
    font-size: 16px; }

  input[type="reset"] {
    font-size: 16px; }

  textarea {
    width: 19em;
    height: 10em;
    font-size: 16px; }

  hr {
    display: none; }

  #index_content > aside > ul {
    display: none; }

  #index_content, #product_content,
  #pr_content, #contact_content, #details_content,
  #content, #gift_card_content {
    padding: 0; }

  #product_content #main, #index_content #main, #pr_content #main_pr,
  #contact_content #main,
  #details_content #main, #content #main,
  #gift_card_content #main {
    width: 100%;
    padding: 1em 0em 0em 0em;
    text-align: -webkit-center;
    margin-bottom: 2em;
    padding: 1em;
    box-sizing: border-box; }

  aside {
    display: none; }

  /* hamb */
  /*   #navigation_bar{
  	display:none;
  } */
  img#hamburger {
    width: 50px;
    height: 50px;
    display: block; }

  /*  a#hamburger {
    	    float: right;
  		    display: block;
  		    padding: 1em;
  		} */
  nav {
    height: initial;
    text-align: -webkit-right; }

  div#nav_search {
    display: none; }

  #search_input {
    padding: 0; }

  #navigation_bar > li:nth-child(2) {
    display: inline;
    float: none; }

  a.menu-link {
    display: block; }

  #menu[role=navigation] {
    clear: both;
    /* -webkit-transition: all 3s ease-out;  
    -moz-transition: all 3s ease-out;
    -ms-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;  */ }

  .js #menu[role=navigation] {
    overflow: hidden;
    max-height: 0; }

  #menu[role=navigation].active {
    max-height: 100%;
    /* display:table-caption;  */ }

  #menu[role=navigation] ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #808080;
    background: white;
    text-align: center;
    font-size: 1.3em; }

  #menu[role=navigation] li a {
    display: block;
    border: 2px solid #808080;
    padding: 2em;
    background: #f9efe9;
    text-decoration: none; }

  ul#nav_store > li:first-child {
    background: white; }

  ul#nav_store li {
    background: white; }

  ul#nav_log {
    float: none; }

  #nav_log li {
    padding: 0em;
    position: relative; }

  ul#nav_store li {
    float: none; }

  #nav_log li:nth-child(2) {
    padding-left: 0; }

  ul#nav_store {
    float: none; }

  #nav_store > li:nth-child(1) > ul > li {
    display: none; }

  /* 
  
  
   
  /* end hamb */
  /* navigation */
  #navigation {
    padding: 0;
    margin: 0;
    list-style-type: none; }

  li#left_nav {
    float: left; }

  li#right_nav {
    float: right; }

  li#right_nav {
    margin-top: -2.6em; }

  img#search {
    width: 50px;
    height: 50px;
    display: inline; }

  img#nav_login_img {
    width: 50px;
    height: 50px;
    display: inline; }

  #search {
    margin-top: 0;
    margin-right: 0; }

  /* end navigation */
  /* index */
  #main_index_info {
    column-count: 1; }

  #main_index_photo img {
    width: 587px;
    height: 506px; }

  /* end index */
  /* login registration */
  section.registration_form, section.login-form {
    display: block;
    font-size: 1.5em;
    line-height: 50px;
    border: none;
    width: 90%;
    margin: auto; }

  section.login-form {
    padding-top: 100px; }

  /* section.login-form{
  	margin-top:12em;
  } */
  body > section > div.login > form > fieldset > label {
    display: none; }

  /* end login registration */
  /* about us */
  .about_us_info {
    column-count: 1; }

  #details_photo img {
    width: 821px;
    height: 585px; }

  /* end about us */
  /* contacts */
  #contacts {
    flex-flow: column wrap;
    padding: 0em; }

  .contact_us input[type="submit"] {
    font-size: 22px; }

  #contact_content #main {
    font-size: 1.5em;
    padding: initial; }

  #contacts input {
    width: 25em;
    margin: 2em; }

  #contacts textarea {
    height: 25em;
    width: 30em; }

  .contact_us_img {
    display: none; }

  #contacts address {
    font-size: .8em;
    line-height: 1.5em; }

  #contacts input[type="submit"] {
    width: 7em;
    margin: 1em; }

  #contact_img {
    display: block; }

  #contact_img img {
    width: 434px;
    height: 290px; }

  /* end contacts */
  /* categories */
  #categories {
    display: flex; }

  /* end categories */
  /* products */
  #index_content #main {
    padding-bottom: 2em; }

  #product_content #main {
    text-align: -webkit-center;
    padding-bottom: 2em; }

  .product_picture {
    height: auto;
    width: auto; }

  .product_picture figure img {
    margin: 0;
    height: 465px;
    width: 386px; }

  /* #product_content #main details{
  	display:none;
  } */
  .product_picture figure figcaption {
    display: none; }

  #product_categories img {
    width: 369px;
    height: 486px; }

  #product_content #main input[type="text"] {
    width: 6.5em;
    font-size: 17px; }

  /* end products */
  /* product */
  #pr_content #main_pr {
    display: flex;
    flex-direction: column;
    text-align: -webkit-center;
    padding: 3em 0em;
    font-size: 1.4em;
    line-height: 1.2em; }

  #product_order input {
    width: 7em;
    height: 1.5em;
    font-size: 20px; }

  #product_order input[type="radio"] {
    width: 2em; }

  img.product_big {
    width: 476px;
    height: 739px; }

  #table_sizes {
    width: 100%;
    margin-bottom: 1em; }

  /* end product */
  /* new in on sale */
  div.relative {
    width: 319px;
    height: 418px; }

  img.product_small {
    width: 319px;
    height: 418px; }

  .new_in_info img, .on_sale_info img {
    width: 466px;
    height: 163px; }

  /* end new in on sale */ }
/* END TABLETS */
/* PHONES */
@media all and (max-width: 480px) {
  /* common */
  body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    line-height: 150%;
    font-size: 20px; }

  h1 {
    font-size: 2.4em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: 2px; }

  h2 {
    font-size: 1em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    letter-spacing: 3px; }

  h3 {
    font-size: 1.17em;
    letter-spacing: 2px; }

  h4 {
    margin-top: 1.23em;
    margin-bottom: 1.33em;
    letter-spacing: 2px; }

  h5 {
    font-size: .73em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    letter-spacing: 2px; }

  h6 {
    font-size: .57em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    letter-spacing: 2px; }

  p {
    font-size: 1em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    line-height: 120%; }

  /* common */
  /* header */
  header {
    padding: 1em; }

  header h1 {
    font-size: 1.3em; }

  /* end header */
  footer {
    font-size: 0.7em; }

  /* nav */
  img#hamburger {
    width: 27px;
    height: 27px; }

  #menu[role=navigation] li a {
    padding: 1em;
    font-size: 0.6em; }

  img#search {
    width: 27px;
    height: 27px; }

  img#nav_login_img {
    width: 27px;
    height: 27px; }

  li#right_nav {
    margin-top: -1.29em; }

  /* end nav */
  #product_content #main, #index_content #main, #pr_content #main_pr,
  #contact_content #main,
  #details_content #main, #content #main,
  #gift_card_content #main {
    margin-bottom: 2em; }

  #index_content, #product_content,
  #pr_content, #contact_content, #details_content,
  #content, #gift_card_content {
    /* 	 margin-left:-7em; */ }

  /* end common */
  /* index */
  #main_index_photo img {
    width: 387px;
    height: 333px; }

  /* end index */
  /*  */
  /*  */
  /* categories */
  #categories {
    display: block; }

  #product_categories img {
    width: 299px;
    height: 362px;
    margin: 0; }

  /* end categories */
  /* products */
  .product_picture figure img {
    height: 398px;
    width: 291px; }

  /* end products */
  /* product */
  #pr_content #main_pr {
    font-size: .8em; }

  #table_sizes {
    width: initial; }

  img.product_big {
    width: 161px;
    height: 239px; }

  #product_order input[type="radio"] {
    width: 1em; }

  #product_order input {
    height: 1em; }

  #product_order input[type="submit"] {
    height: 1.5em;
    font-size: 1em; }

  #product_order input {
    width: 5em; }

  /* end product */
  /* new_in on-sale */
  .new_in_info img, .on_sale_info img {
    width: 370px;
    height: 163px; }

  details input, #product_content #main input[type="text"] {
    width: 3em; }

  details input[type="submit"] {
    width: 7em; }

  /* end new_in on_sale */
  /* about us */
  #details_photo img {
    display: none; }

  /* end about us */
  /* contacts */
  #contact_img img {
    display: none; }

  #contacts textarea {
    height: 14em;
    width: 25em; }

  /* end contacts */
  /* login registration */
  section.login-form, section.registration_form {
    padding-top: 0;
    padding-bottom: 2em;
    font-size: 1em; }

  input[type="submit"], input[type="reset"] {
    font-size: 17px;
    width: 15em; }

  /* end login registration */ }
/* END PHONES */

/*# sourceMappingURL=styles.css.map */
