 reset */ html,
 body,
 div,
 span,
 applet,
 object,
 iframe,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 blockquote,
 pre,
 a,
 abbr,
 acronym,
 address,
 big,
 cite,
 code,
 del,
 dfn,
 em,
 img,
 ins,
 kbd,
 q,
 s,
 samp,
 small,
 strike,
 strong,
 sub,
 sup,
 tt,
 var,
 b,
 u,
 i,
 center,
 dl,
 dt,
 dd,
 ol,
 ul,
 li,
 fieldset,
 form,
 label,
 legend,
 table,
 caption,
 tbody,
 tfoot,
 thead,
 tr,
 th,
 td,
 article,
 aside,
 canvas,
 details,
 embed,
 figure,
 figcaption,
 footer,
 header,
 hgroup,
 menu,
 nav,
 output,
 ruby,
 section,
 summary,
 time,
 mark,
 audio,
 video {
     margin: 0;
     padding: 0;
     border: 0;
     font-size: 100%;
     font: inherit;
     vertical-align: baseline;
 }
 
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 menu,
 nav,
 section {
     display: block;
 }
 
 body {
     line-height: 1;
 }
 
 ol,
 ul {
     list-style: none;
 }
 
 blockquote,
 q {
     quotes: none;
 }
 
 blockquote:before,
 blockquote:after,
 q:before,
 q:after {
     content: '';
     content: none;
 }
 
 table {
     border-collapse: collapse;
     border-spacing: 0;
 }
 /* end reset */
 /*  */
 
 @font-face {
     font-family: 'NeuzeitS';
     src: url('fonts/NeuzeitS.eot');
     src: local('NeuzeitS'), local('NeuzeitS'), url('fonts/NeuzeitS.ttf') format('truetype');
 }
 
 body {
     width: 100%;
     position: relative;
 }
 /*nav*/
 
 #nav {
     display: flex;
     width: 100%;
     height: 3.6%;
     position: absolute;
     z-index: 20;
     background: black;
     opacity: 0.8;
     align-items: center;
     justify-content: center;
 }
 
 #nav-menu,
 #nav-menu ul {
     display: flex;
     -webkit-padding-start: 0px;
 }
 
 #left {
     left: 12px;
     position: absolute;
     top: 12px;
 }
 
 #login {
     width: 70%;
     height: 70%;
 }
 
 #right {
     position: absolute;
     right: 0;
 }
 
 #center {
     font-size: 12px;
     font-family: "NeuzeitS";
     color: rgb(255, 255, 255);
     line-height: 0.896;
     max-height: 9px;
     text-align: left;
     width: 717px;
     letter-spacing: 2px;
 }
 
 #center > ul > li {
     margin: 0 2%;
 }
 
 #center > ul > li:nth-child(1) {
     margin: 0;
 }

 
 #logo {
     width: 65%;
 }




  #nav-menu ul.drop-down{
 	display:none;
 	    height: 236px;
    position: absolute;
   
    left: 0;
    right: 0;
 	background:#00e1f5;
 	opacity: 1;
	
 }



 /*end nav*/
 /*carousel*/
 
 #carousel {
     width: 100%;
     position: relative;
     top: -20px;
 }
 
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     width: 95.5%;
     margin: 0 2.25%;
 }
 
 .container {
     width: 100% !important;
     padding: 0 !important;
     margin: 0 !important;
 }
 
 .carousel-control.left {
     /* background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
 }
 
 .carousel-control {
     background-image: none !important;
     /* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001))); */
     /* background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%); */
     filter: none !important;
     background: #ebebe6 !important;
     z-index: 0;
     width: 2.25% !important;
 }
 /*end carousel*/
 /*content*/
 
 .content {
     /*height: 55.5%;*/
     /*  position: fixed;*/
     /* column-count: 3;*/
     margin: 0px 20.45%;
     width: 59.1%;
     /*  column-gap:21px;*/
     display: block;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-direction: column;
     flex-direction: column;
 }
 
 .content>div {}
 
 .box-content {
     width: 32.2%;
     height: 55.2%;
     float: left;
 }
 

 .box-content img {
     width: 100%;
     height: 55.9%;
      margin-bottom: .8em;

 }
 .title{
 	    font-size: 10px;
 }

 #up-posts {
     height: 55.2%;
     margin-bottom: 2.4%;
         margin-top: -.8%;
       font-size: 13px;
  font-family: "NeuzeitS";
  color: rgb(150, 150, 150);
  text-align: left;
  /*line-height: 1.7em;*/
  letter-spacing: 2px;


 }

#up-posts p{
	margin:0;
	   
}
#up-posts article{
	 line-height: 1.2em;
}


 .read-more{
 	color:#26e3f6
 }
.small-arrow img{
	width: auto;
	height: auto;
}
 #up-posts .title{
 	text-transform: uppercase;

 }
 #up-posts .title2{
 	text-transform: uppercase;
 	color:black;
 }

 #up-posts div:nth-child(2) {
     margin: 0 1.7%;
 }
 
 #down-posts {
     display: inline;
     min-width: 100%;
     margin-bottom: 11.7%;
 }
 
 .down-post {
     width: 18.7%;
     height: 27.2%;
     float: left;

 }
 
 .down-post img {
     width: 100%;
 }
 
 #down-posts div.down-post {
     margin-right: 1.625%;
 }
 
 #down-posts div.down-post:last-child {
     margin: 0;
 }

.down-post-text{
 font-size: 11px;
  font-family: "NeuzeitS";
  color: rgb(50, 50, 50);
  line-height: 1.286;
  float: left;
     margin:0;
 }

 .left{
 float: right;
 color:#969696;

 }




 .backspace{
margin-left: -4px;
}



 /*end content*/

 /*footer*/
 
 footer {
     border-top: 1px solid #c8c8c8;
     text-align: -webkit-center;
     /*display: none;*/
     position: absolute;
     width: 59.1%;
     height: 17.9%;
     margin: 0px 20.45%;
     /*background: grey;*/
     /*bottom: 0;*/
 }
 
 #up {
     height: 61.1%;
     padding-top: 30px;
     padding-bottom: 30px;
    
 }
 
#footer-menu *{
	    display: inline;
   
    font-size: .8em;
}
#footer-menu>li{
	 margin-left: 2.6em;
}
#currency li{

    margin-right: 2.6em;

}

 #footer-menu,
 #currency {
    
     -webkit-padding-start: 0px;
 }
 
 #social {
     display: inline-flex;
         margin-bottom: 2em;
 }
 #social-links{
 	display: flex;
 }

 #facebook {
     background: url('images/footer.png') no-repeat 0 0;
     width: 11px;
     height: 22px;
 }

 #facebook:hover {
     background: url('images/footer-hov.png') no-repeat 0 0;
     width: 11px;
     height: 22px;
 }
 
 #tweeter {
     background: url('images/footer.png') no-repeat -45px -2px;
     width: 23px;
     height: 18px;
 }

 #tweeter:hover {
     background: url('images/footer-hov.png') no-repeat -45px -2px;
     width: 23px;
     height: 18px;
 }
 
 #instagram {
     background: url('images/footer.png') no-repeat -100px -1px;
     width: 20px;
     height: 20px;
 }
  #instagram:hover {
     background: url('images/footer-hov.png') no-repeat -100px -1px;
     width: 20px;
     height: 20px;
 }
  #pinterest{
     background: url('images/footer.png') no-repeat -149px 0;
     width: 23px;
     height: 22px;
 }
 
 
 #pinterest:hover {
     background: url('images/footer-hov.png') no-repeat -149px 0;
     width: 23px;
     height: 22px;
 }
 
 #tweeter2 {
     background: url('images/footer.png') no-repeat -208px 0;
     width: 12px;
     height: 22px;
 }
  
 #tweeter2:hover {
     background: url('images/footer-hov.png') no-repeat -208px 0;
     width: 12px;
     height: 22px;
 }

 #sv {
     background: url('images/footer.png') no-repeat -253px -3px;
     width: 29px;
     height: 16px;
 }
   #sv:hover{
 	 background: url('images/footer-hov.png') no-repeat -253px -3px;
     width: 29px;
     height: 16px;
 }
 #b {
     background: url('images/footer.png') no-repeat -309px 0;
     width: 18px;
     height: 22px;
 }
  #b:hover {
     background: url('images/footer-hov.png') no-repeat -309px 0;
     width: 18px;
     height: 22px;
 }
 #down {
     border-top: 1px solid #c8c8c8;
 }

 #social-links div{
 	margin-left: 12px;
 }

 /*end footer*/
